<!DOCTYPE html>
<html>
<head>
    <title>Match Result</title>
</head>
<body>
    <h1>Match Result</h1>
    <p>{{ club1.name }} vs {{ club2.name }}</p>

    {% if winner_club %}
        <h2>Winner: {{ winner_club.name }}</h2>
    {% else %}
        <h2>It's a draw!</h2>
    {% endif %}

    {% if loser_club %}
        <h2>Loser: {{ loser_club.name }}</h2>
    {% endif %}

    <h3>Player Statistics</h3>

    {% if winner_players %}
        <h4>{{ winner_club.name }}</h4>
        <ul>
            {% for player in winner_players %}
                <li>{{ player.first_name }} {{ player.last_name }} ({{ player.position }})</li>
                <ul>
                    {% if player.position == 'Goalkeeper' %}
                        <li>Reflexes: {{ player.reflexes }}</li>
                        <li>Aerial: {{ player.aerial }}</li>
                        <li>Jumping: {{ player.jumping }}</li>
                        <li>Command: {{ player.command }}</li>
                        <li>Throwing: {{ player.throwing }}</li>
                        <li>Kicking: {{ player.kicking }}</li>
                    {% else %}
                        <li>Strength: {{ player.strength }}</li>
                        <li>Stamina: {{ player.stamina }}</li>
                        <li>Pace: {{ player.pace }}</li>
                        <li>Marking: {{ player.marking }}</li>
                        <li>Tackling: {{ player.tackling }}</li>
                        <li>Work Rate: {{ player.work_rate }}</li>
                        <li>Positioning: {{ player.positioning }}</li>
                        <li>Passing: {{ player.passing }}</li>
                        <li>Crossing: {{ player.crossing }}</li>
                        <li>Dribbling: {{ player.dribbling }}</li>
                        <li>Ball Control: {{ player.ball_control }}</li>
                        <li>Heading: {{ player.heading }}</li>
                        <li>Finishing: {{ player.finishing }}</li>
                        <li>Long Range: {{ player.long_range }}</li>
                        <li>Vision: {{ player.vision }}</li>
                    {% endif %}
                </ul>
            {% endfor %}
        </ul>
    {% endif %}

    {% if loser_players %}
        <h4>{{ loser_club.name }}</h4>
        <ul>
            {% for player in loser_players %}
                <li>{{ player.first_name }} {{ player.last_name }} ({{ player.position }})</li>
                <ul>
                    {% if player.position == 'Goalkeeper' %}
                        <li>Reflexes: {{ player.reflexes }}</li>
                        <li>Aerial: {{ player.aerial }}</li>
                        <li>Jumping: {{ player.jumping }}</li>
                        <li>Command: {{ player.command }}</li>
                        <li>Throwing: {{ player.throwing }}</li>
                        <li>Kicking: {{ player.kicking }}</li>
                    {% else %}
                        <li>Strength: {{ player.strength }}</li>
                        <li>Stamina: {{ player.stamina }}</li>
                        <li>Pace: {{ player.pace }}</li>
                        <li>Marking: {{ player.marking }}</li>
                        <li>Tackling: {{ player.tackling }}</li>
                        <li>Work Rate: {{ player.work_rate }}</li>
                        <li>Positioning: {{ player.positioning }}</li>
                        <li>Passing: {{ player.passing }}</li>
                        <li>Crossing: {{ player.crossing }}</li>
                        <li>Dribbling: {{ player.dribbling }}</li>
                        <li>Ball Control: {{ player.ball_control }}</li>
                        <li>Heading: {{ player.heading }}</li>
                        <li>Finishing: {{ player.finishing }}</li>
                        <li>Long Range: {{ player.long_range }}</li>
                        <li>Vision: {{ player.vision }}</li>
                    {% endif %}
                </ul>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>